[submodule "spectre/vendor/glfw"]
	path = spectre/vendor/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "spectre/vendor/glm"]
	path = spectre/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "spectre/vendor/imgui/imgui"]
	path = spectre/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "spectre/vendor/assimp"]
	path = spectre/vendor/assimp/assimp
	url = https://github.com/assimp/assimp
